.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 2000px;

    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.header {
    grid-area: h;
    background-color: navajowhite;
}
.header img {
    width: 80px;
}

.nav {
    grid-area: n;
    background-color: peru;
}

.content {
    grid-area: c;
    background-color: sandybrown;
}
